/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/*
 * Device Tree Overlay Template for Nordic Thingy:91 X (nRF9151 NS target)
 * Use this file to customize pin routing, sensor configurations, and enabled buses.
 */

/ {
	aliases {
		/* Add application-specific aliases here */
		// sensor-imu = &imu;
	};
};

&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	bme680: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
		label = "BME688_ENVIRONMENTAL";
	};

	adxl372: adxl372@53 {
		compatible = "adi,adxl372";
		reg = <0x53>;
		label = "ADXL372_HIGH_G";
	};

	npm1300: npm1300@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;
		label = "NPM1300_PMIC";
	};
};

/* Example: Enabling low power states on UART console */
&uart0 {
	status = "okay";
	/* Enable power management control for the UART driver */
	/delete-property/ hw-flow-control;
};
